  <div class="navbar navbar-expand navbar-light d-flex p-0 navbar-lewagon justify-content-center">
        <div class="logo-left">
          <a href="/">
            <!-- <img class="navbar-brand" id="logo" src="<%# asset_path('primetimelogo1.png')%>" /> -->
          </a>
        </div>
        <%= link_to "Home", root_path, class:"nav-link" %>
        <%= link_to "All past events", past_events_path, class:"nav-link" %>
        <% if current_user %>
        <!-- <div class="subnav"> -->
            <!-- <div class="subnav-content"> -->
                <%= link_to "Edit the event", edit_past_event_path(@past_event), class:"nav-link" %>
                <%= link_to "delete the event", past_event_path(@past_event.id), data: { confirm: "Are you sure?" }, method: :delete, class:"nav-link" %>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"nav-link" %>
            <!-- </div> -->
        <!-- </div> -->

        <% end %>

        <!-- </ul> -->
        <!-- </div> -->
  </div>

<div class="past-event-container show">
    <div class="row">

        <div class="past-event-info show">
            <h5>
                <%= @past_event.title.upcase %>
            </h5>
            <p>
                <%= @past_event.description %>
            </p>
            <p> <strong>
                    <%= @past_event.location %></strong> from
                <%= @past_event.date_start.strftime("%-d %B") %> to
                <%= @past_event.date_end.strftime("%-d %B %Y") %>
            </p>
            <% if !@past_event.photos.empty? %>
            </p>
            <% end %>
        </div>

        <% @past_event.photos.each do |photo| %>
        <div class="column">
            <%= cl_image_tag photo.key, style:"width:100%" %>
            <% if current_user %>
                <%= link_to "delete", delete_one_photo_past_event_path(photo), data: { confirm: "Are you sure?" }, method: :delete %>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
