<div class="wrapper">

  <!-- navbar -->
  <div id="navbar">
    <a href="#home">Home</a>
    <a href="#events">Our Events</a>
    <a href="#contact">Contact Us</a>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user %>
  </div>

  <!-- content -->
  <div class="content">

    <!-- banner -->
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('primetimelogo1.png')%>);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="content">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('primetimelogo1.png')%>);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

</div>
<section>
  <div id="events">
    <h2>Hello, I'm the events!</h2>
    <h3>Past Events</h3>
    <ul class="pt-300">
      <% @past_events.each do |past_event| %>
        <li><%= current_user ? (link_to past_event.title, past_event) : past_event.title %>, <%= past_event.description %> <%= past_event.location %>. From <%= past_event.date_start %> to <%= past_event.date_end %>.
        </li>
      <% end %>
    </ul>
    <h3>Future Events</h3>
    <ul>
      <% @future_events.each do |future_event| %>
        <li><%= current_user ? (link_to future_event.title, future_event) : future_event.title %>, <%= future_event.description %> <%= future_event.location %>. From <%= future_event.date_start %> to <%= future_event.date_end %>.
        </li>
      <% end %>
    </ul>
  </div>
</section>
    <!-- footer -->
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Website made with <i class="fas fa-heart"></i> by FAR
      </div>
      <div><%= link_to "Admin corner", new_user_session_path %></div>
    </div>

<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-50px";
  }
  prevScrollpos = currentScrollPos;
}
</script>
<!-- end of wrapper -->
</div>
