<div class="wrapper">

  <!-- navbar -->
  <div id="navbar">
    <a href="#home">Home</a>
    <a href="#events">Our Events</a>
    <a href="#contact">Contact Us</a>
    <% if current_user %>
    <%= link_to "Add past events", new_past_event_path %>
    <%= link_to "Add future events", new_future_event_path %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% end %>
  </div>

    <!-- banner with logo -->
    <div class="banner responsive" style="background-image: url(<%= asset_path('primetimelogo1.png')%>);">
    </div>

    <!-- intro section -->
    <div class="intro">
      <h2>OUR VISION</h2>
      <p>The Korean culture has been omnipresent around the world through its music, food and TV series for years. This wave, best known as Hallyu, piqued and is still piquing people’s attention and we, at PRIMETIME, believe that the wave can be further spread through lot of other different facets of the emerging country.</p>
      <p>Korea is the reference of innovation and technology, yet still unfamiliar or unknown to a lot of people. PRIMETIME aims to become the beacon spreading the Korean culture around the globe and let the world discover Hallyu in different ways.</p>
    </div>

    <!-- pipeline events -->
    <div class="pipeline">

      <h3>OUR UPCOMING EVENTS</h3>
      <div class="col-container">
        <div class="pipeline-row">

          <div class="pipeline-card">
            <h5 class="pipeline-title">KOREAN ART FAIR</h5>
            <p class="pipeline-text"><small class="text-muted">June 2020</small></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            <p><button class="button">More info</button></p>
          </div>

          <div class="pipeline-card">
            <h5 class="pipeline-title">KOREAN TECHNOLOGY OF TOMORROW</h5>
            <p class="pipeline-text"><small class="text-muted">September 2020</small></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            <p><button class="button">More info</button></p>
          </div>

        </div>
      </div>

      <!-- see more button showing more events -->      
      <div>
        <input type="checkbox" class="read-more-state" id="post-2" />     

        <ul class="read-more-wrap">
          <div class="pipeline-row">

            <div class="read-more-target pipeline-card">
                  <h5 class="pipeline-title">START-UPS B2B MEET-UPS AND SEMINARS</h5>
                  <p class="pipeline-text"><small class="text-muted">October 2020</small></p>
            </div>

            <div class="read-more-target pipeline-card">
                  <h5 class="pipeline-title">GUEST SPEAKERS CONFERENCES</h5>
                  <p class="pipeline-text"><small class="text-muted">November 2020</small></p>
            </div>    

            <div class="read-more-target pipeline-card">
                  <h5 class="pipeline-title">KOREAN CHRISTMAS MARKET</h5>
                  <p class="pipeline-text"><small class="text-muted">December 2020</small></p>
            </div>

          </div>
        </ul>
        
        <label for="post-2" class="read-more-trigger"></label>
      </div>

    </div>

    <!-- events type section -->
    <div class="col-container">
      <h3>OUR BUSINESS STRUCTURE</h3>
      <div class="business-structure-cards">
        
          <div class="col">
            <div class="business-card">
              <img src="https://images.pexels.com/photos/2608512/pexels-photo-2608512.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
              <div class="business-container">
                <h5>PRODUCTION</h5>
                <p>Audit, analysis, marketing and recommendations, as well as content
              creation around and during your events. Our clients all have different needs and objectives.</p>
                <p><button class="button">Past Productions</button></p>
              </div>
            </div>
          </div>

<!--           <div class="col">
            <div class="business-card">
              <img src="https://images.pexels.com/photos/2306277/pexels-photo-2306277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260v" class="card-img-top" alt="...">
              <div class="business-container">
                <h5>PRIVATE EVENTS</h5>
                <p>Creation and planning of customized events for our private clients, that are as distinctive
              as they are compelling. Every event has a purpose, a message to communicate and an objective to meet.</p>
                <p><button class="button">Past Private Events</button></p>
              </div>
            </div>
          </div> -->

          <div class="col">
            <div class="business-card">
              <img src="https://images.pexels.com/photos/1157557/pexels-photo-1157557.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
              <div class="business-container">
                <h5>PUBLIC EVENTS</h5>
                <p>Creating a unique experience in the collaboration of the city of Paris through
              public and free events and festivals centered in one particular theme in related with Korea throughout the year.</p>
                <p><button class="button">Past Public Events</button></p>
              </div>
            </div>
          </div>

      </div>


      <!-- <div class="card-deck"> -->

        <!-- <div class="card">
          <img src="https://images.pexels.com/photos/2608512/pexels-photo-2608512.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PRODUCTION</h5>
            <p class="card-text">Audit, analysis, marketing and recommendations, as well as content
            creation around and during your events. Our clients all have different needs and objectives.</p>
          </div>
            <a href="#" class="button">See past Productions</a>
        </div> -->

        <!-- <div class="card">
          <img src="https://images.pexels.com/photos/2306277/pexels-photo-2306277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260v" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PRIVATE EVENTS</h5>
            <p class="card-text">Creation and planning of customized events for our private clients, that are as distinctive
            as they are compelling. Every event has a purpose, a message to communicate and an objective to meet.</p>
          </div>
            <a href="#" class="button">See past Private Events</a>
        </div> -->

      <!--   <div class="card">
          <img src="https://images.pexels.com/photos/1157557/pexels-photo-1157557.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PUBLIC EVENTS</h5>
            <p class="card-text">Creating a unique experience in the collaboration of the city of Paris through
            public and free events and festivals centered in one particular theme in related with Korea throughout the year.</p>
          </div>
            <a href="#" class="button">See past Public Events</a>
        </div> -->

    </div>
    <!-- past / future events -->
    <section>
      <div id="events">
        <h2>Hello, I'm the events!</h2>
        <h3>Past Events</h3>
        <ul class="pt-300">
          <% @past_events.each do |past_event| %>
            <li><%= current_user ? (link_to past_event.title, past_event) : past_event.title %>, <%= past_event.description %> <%= past_event.location %>. From <%= past_event.date_start %> to <%= past_event.date_end %>.
            </li>
          <% end %>
        </ul>
        <h3>Future Events</h3>
        <ul>
          <% @future_events.each do |future_event| %>
            <li><%= current_user ? (link_to future_event.title, future_event) : future_event.title %>, <%= future_event.description %> <%= future_event.location %>. From <%= future_event.date_start %> to <%= future_event.date_end %>.
            </li>
          <% end %>
        </ul>
      </div>
    </section>


    <!-- meet the team -->
    <div class="the-team">
      <h3>MEET THE TEAM</h3>      
      <div class="row">

        <div class="column">
          <div class="team-card">
            <div class="team-container">
              <h4>Jay Lee</h4>
              <h5 class="title">FOUNDER AND PRESIDENT</h5>
              <p>+ 33 6 74 08 60 34</p>
              <p><button class="button">example@example.com</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="team-card">
            <div class="team-container">
              <h4>SAMUEL SONG</h4>
              <h5 class="title">CO-FOUNDER AND VICE PRESIDENT</h5>
              <p>+ 33 6 74 08 60 34</p>
              <p><button class="button">example@example.com</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="team-card">
            <div class="team-container">
              <h4>SEOYO LEE</h4>
              <h5 class="title">HEAD OF SALES AND MARKETING</h5>
              <p>+ 33 6 74 08 60 34</p>
              <p><button class="button">example@example.com</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="team-card">
            <div class="team-container">
              <h4>SEBASTIEN HAN</h4>
              <h5 class="title">HEAD OF COMMUNICATION AND PR</h5>
              <p>+ 33 6 74 08 60 34</p>
              <p><button class="button">example@example.com</button></p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- contact us section -->
    <div class="contact-container">
      
      <div style="text-align:center">
        <h2>Contact Us</h2>
        <p>Swing by for a cup of coffee, or leave us a message:</p>
      </div>

      <div class="row">
        <div class="contact-column">
          <img src="https://images.pexels.com/photos/33999/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width:100%">
        </div>
        <div class="contact-column">
          <form action="/action_page.php">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            <label for="country">Country</label>
            <select id="country" name="country">
              <option value="australia">France</option>
              <option value="canada">South Korea</option>
              <option value="usa">Other</option>
            </select>
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>

    </div>

</div>


    <!-- footer -->
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Website made with <i class="fas fa-heart"></i> by FAR
      </div>
      <div><%= link_to "Admin corner", new_user_session_path %></div>
    </div>

  <script>
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.top = "0";
    } else {
      document.getElementById("navbar").style.top = "-50px";
    }
    prevScrollpos = currentScrollPos;
  }

  var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
  </script>
<!-- end of wrapper -->
</div>
