<div class="navbar navbar-expand navbar-light d-flex p-0 navbar-lewagon justify-content-center">
        <div class="logo-left">
          <a href="/">
            <img class="navbar-brand" id="logo" src="<%= asset_path('primetimelogo1.png')%>" />
          </a>
        </div>
        <% if current_user %>
        <!-- <div class="subnav"> -->
            <!-- <div class="subnav-content"> -->
                <%= link_to "My future events", future_events_path, class:"nav-link" %>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"nav-link" %>
            <!-- </div> -->
        <!-- </div> -->
        
        <% end %>

        <!-- </ul> -->
        <!-- </div> -->
</div>

<div class="form-container">
    <h5>Edit Future Event</h5>
    <div class="form-box">
        <div class="full-form">
            <%= render 'form', future_event: @future_event %>
        </div>
    </div>
    <p><%= link_to 'Back to home', root_path %></p>
</div>
