<!-- navbar -->

<div class="navbar navbar-expand navbar-light d-flex p-0 navbar-lewagon justify-content-center">
  <%= link_to "Home", root_path, class:"nav-link" %>
  <%= link_to "My future events", future_events_path, class:"nav-link"%>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"nav-link" %>
</div>

<!-- content -->

<div class="form-container">
    <h5>Edit Future Event</h5>
    <div class="form-box">
        <div class="full-form">
            <%= render 'form', future_event: @future_event %>
        </div>
    </div>
    <p><%= link_to 'Back to home', root_path %></p>
</div>
