<!-- index future events -->
  <div id="navbar">
    <% if current_user %>
    <%= link_to 'Back to main page', root_path %>
    <%= link_to "Add future events", new_future_event_path %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% end %>
  </div>



<div class="event-structure-container index">
    <h4>FUTURE EXPERIENCES</h4>

    <div class="event-structure-cards">

        <% @future_events.each do |f| %>
        <div class="event-structure-card">

            <div class="business-info">
                <h5 class="my-pipeline-title">
                    <%= link_to f.title, f if current_user %>
                </h5>
                <p class="my-pipeline-text">
                    <p><%= f.description %></p>
                    <p><%= f.category %> | <%= f.location %></p>
                     <p>From
                    <%= f.date_start %> to
                    <%= f.date_end %></p> 
                </p>
            </div>

        </div>
        <% end %>

    </div>

</div>