<!-- index future events -->
  <div id="navbar">
    <% if current_user %>
    <%= link_to 'Back to main page', root_path %>
    <%= link_to "Add future events", new_future_event_path %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% end %>
  </div>

<div class="my-pipeline">
    <div class="my-pipeline-row">
        <% @future_events.each do |f| %>
        <div class="my-pipeline-card">
            <div class="my-pipeline-title">
                <h5>
                    <%= link_to f.title, f if current_user %>
                </h5>
            </div>
            <p>
                <%= f.description %>
            </p>
            <p class="my-pipeline-text">
                <%= f.location %>
            </p>
            <p class="my-pipeline-text"><small class="text-muted">
                    <%= f.date_start %> to
                    <%= f.date_end %></small></p>
        </div>
        <% end %>
    </div>
</div>

