<!-- index future events -->

<div class="navbar navbar-expand navbar-light d-flex p-0 navbar-lewagon justify-content-center">
        <div class="logo-left">
          <a href="/">
            <img class="navbar-brand" id="logo" src="<%= asset_path('primetimelogo1.png')%>" />
          </a>
        </div>
        <% if current_user %>
        <!-- <div class="subnav"> -->
            <!-- <div class="subnav-content"> -->
                <%= link_to "Add future events", new_future_event_path, class:"nav-link"%>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"nav-link" %>
            <!-- </div> -->
        <!-- </div> -->
        
        <% end %>

        <!-- </ul> -->
        <!-- </div> -->
  </div>


<div class="event-structure-container index">
    <h4>FUTURE EXPERIENCES</h4>

    <div class="event-structure-cards">

        <% @future_events.each do |f| %>
        <div class="event-structure-card future">

            <div class="business-info">
                <h5 class="my-pipeline-title">
                    <%= link_to f.title, f if current_user %>
                </h5>
                <p class="my-pipeline-text">
                    <p><%= f.description %></p>
                    <p><%= f.category %> | <%= f.location %></p>
                     <p>From
                    <%= f.date_start %> to
                    <%= f.date_end %></p> 
                </p>
            </div>

        </div>
        <% end %>

    </div>

</div>